<div id="index-wrap">
    <div class="body-info-wrap clearfix">
        <div class="col-lg-3"></div>

        <div id="body-index" class="col-md-12 col-sm-12 col-xs-12">
            {{#if greeting}}
            <h2>Welcome to Resma!</h2><h3>You may log in to proceed</h3>
            {{/if}}
        </div>

    </div>
    <div id="auth-heading">
        <h2>Log in here!</h2>
        <img src="/images/icons/user.svg" alt="user" id="login-icon-user">
    </div>

    <div class="panel-userauth">
        <!--{{#if error}}-->
            <!--<span class="glyphicon glyphicon-exclamation-sign"></span> {{error}}-->
        <!--{{/if}}-->

        <form id="form-login" method="post" action="/auth/login" novalidate>
            <!--<label for="user_type" style="margin-bottom: 0;color: #cccccc;">User type</label>-->
            <!--<select name="user_type" id="user_type" style="margin-top: 5px;">-->
                <!--<option value="manager">Manager</option>-->
                <!--<option value="customer">Customer</option>-->
                <!--<option value="waiter">Waiter</option>-->
            <!--</select>-->
            <!--<hr style="border-color: #bbbbbb;">-->
            {{#if error}}<span class="text-orange"><span class="glyphicon glyphicon-exclamation-sign"></span> {{error}}</span> {{/if}}
            <input type="email" name="username" placeholder="username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Login" class="user-submit">
        </form>
    </div>
</div>