{{#if customer}}
<div class="container menu-container" data-id="{{user_type}}">

    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-list-alt"></span> <span class="list-heading"> Breakfast Menus</span>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">

            <div class="item-all clearfix">

                {{#if items}}
                {{#each items.breakfast_items}}
                <div class="col-md-2 col-sm-3 col-xs-12">
                    <div class="menu-item">
                        <div class="item-image">
                            <img src="/images/uploads/{{item_image}}" alt="{{item_name}}" class="img-responsive">
                        </div>
                        <div class="item-info">
                            <div class="item-name">
                                <h3>{{item_name}}</h3>
                            </div>
                            <div class="item-short-dis">
                                <p>{{item_disc}}</p>
                            </div>
                            <hr class="item-hr"/>
                            <div class="item-price">
                                <span>Rs. {{item_price}}/-</span>
                            </div>
                        </div>
                        <div class="item-footer">
                            <a class="btn add-to-cart" href="/resma/addtocart/Breakfast/{{_id}}"><span class="glyphicon glyphicon-shopping-cart"></span><span>Add to Cart</span></a>
                        </div>
                    </div>
                </div>
                {{/each}}
                {{/if}}

            </div>

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-list-alt"></span> <span class="list-heading"> Lunch Menus</span>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">

            <div class="item-all clearfix">

                {{#if items}}
                {{#each items.lunch_items}}
                <div class="col-md-2 col-sm-3 col-xs-12">
                    <div class="menu-item">
                        <div class="item-image">
                            <img src="/images/uploads/{{item_image}}" alt="{{item_name}}" class="img-responsive">
                        </div>
                        <div class="item-info">
                            <div class="item-name">
                                <h3>{{item_name}}</h3>
                            </div>
                            <div class="item-short-dis">
                                <p>{{item_disc}}</p>
                            </div>
                            <hr class="item-hr"/>
                            <div class="item-price">
                                <span>Rs. {{item_price}}/-</span>
                            </div>
                        </div>
                        <div class="item-footer">
                            <a class="btn add-to-cart" href="/resma/addtocart/Lunch/{{_id}}"><span class="glyphicon glyphicon-shopping-cart"></span><span>Add to Cart</span></a>
                        </div>
                    </div>
                </div>
                {{/each}}
                {{/if}}

            </div>

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-list-alt"></span> <span class="list-heading"> Dinner Menus</span>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">

            <div class="item-all clearfix">

                {{#if items}}
                {{#each items.dinner_items}}
                <div class="col-md-2 col-sm-3 col-xs-12">
                    <div class="menu-item">
                        <div class="item-image">
                            <img src="/images/uploads/{{item_image}}" alt="{{item_name}}" class="img-responsive">
                        </div>
                        <div class="item-info">
                            <div class="item-name">
                                <h3>{{item_name}}</h3>
                            </div>
                            <div class="item-short-dis">
                                <p>{{item_disc}}</p>
                            </div>
                            <hr class="item-hr"/>
                            <div class="item-price">
                                <span>Rs. {{item_price}}/-</span>
                            </div>
                        </div>
                        <div class="item-footer">
                            <a class="btn add-to-cart" href="/resma/addtocart/Dinner/{{_id}}"><span class="glyphicon glyphicon-shopping-cart"></span><span>Add to Cart</span></a>
                        </div>
                    </div>
                </div>
                {{/each}}
                {{/if}}

            </div>

        </div>
    </div>

    <div id="cartModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!--New order content is loaded with ajax-->
            <div class="modal-content"></div>

        </div>
    </div>

</div>
{{else}}
<div class="container menu-container" data-id="{{user_type}}">

    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-list-alt"></span> <span class="list-heading"> Breakfast Menus</span>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">

            <div class="item-all clearfix">

                {{#if items}}
                {{#each items.breakfast_items}}
                <div class="col-md-2 col-sm-3 col-xs-12">
                    <div class="menu-item">
                        <div class="item-image">
                            <img src="/images/uploads/{{item_image}}" alt="{{item_name}}" class="img-responsive">
                        </div>
                        <div class="item-info">
                            <div class="item-name">
                                <h3>{{item_name}}</h3>
                            </div>
                            <div class="item-short-dis">
                                <p>{{item_disc}}</p>
                            </div>
                            <hr class="item-hr"/>
                            <div class="item-price">
                                <span>Rs. {{item_price}}/-</span>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                {{/if}}

            </div>

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-list-alt"></span> <span class="list-heading"> Lunch Menus</span>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">

            <div class="item-all clearfix">

                {{#if items}}
                {{#each items.lunch_items}}
                <div class="col-md-2 col-sm-3 col-xs-12">
                    <div class="menu-item">
                        <div class="item-image">
                            <img src="/images/uploads/{{item_image}}" alt="{{item_name}}" class="img-responsive">
                        </div>
                        <div class="item-info">
                            <div class="item-name">
                                <h3>{{item_name}}</h3>
                            </div>
                            <div class="item-short-dis">
                                <p>{{item_disc}}</p>
                            </div>
                            <hr class="item-hr"/>
                            <div class="item-price">
                                <span>Rs. {{item_price}}/-</span>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                {{/if}}

            </div>

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-list-alt"></span> <span class="list-heading"> Dinner Menus</span>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">

            <div class="item-all clearfix">

                {{#if items}}
                {{#each items.dinner_items}}
                <div class="col-md-2 col-sm-3 col-xs-12">
                    <div class="menu-item">
                        <div class="item-image">
                            <img src="/images/uploads/{{item_image}}" alt="{{item_name}}" class="img-responsive">
                        </div>
                        <div class="item-info">
                            <div class="item-name">
                                <h3>{{item_name}}</h3>
                            </div>
                            <div class="item-short-dis">
                                <p>{{item_disc}}</p>
                            </div>
                            <hr class="item-hr"/>
                            <div class="item-price">
                                <span>Rs. {{item_price}}/-</span>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                {{/if}}

            </div>

        </div>
    </div>

    <div id="cartModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!--New order content is loaded with ajax-->
            <div class="modal-content"></div>

        </div>
    </div>

</div>
{{/if}}
