<div class="clearfix">
    <h2 style="margin-top: 0;margin-bottom: 20px">Items Cart</h2>
    {{#if cart_items}}
    <table class="cart-table">
        {{#each cart_items}}
        <tr>
            <td style="padding-left: 10px">
                <img src="/images/uploads/{{item_image}}" alt=""/>
            </td>
            <td class="text-center">{{item_name}}</td>
            <td class="text-center"> X {{item_qty}}</td>
            <td class="cart-unit-price text-right" style="padding-right: 10px">Rs. {{item_price}} /-</td>
            <td class="text-right"><a href="/resma/removefromcart/{{item_id}}" class="glyphicon glyphicon-remove-circle cart-del-item"></a></td>
        </tr>
        {{/each}}
    </table>
    <table class="bottom-row">
        <tr>
            <td><h3>TOTAL</h3></td>
            <td class="cart-total text-right"><h3>Rs. {{total}} /-</h3></td>
        </tr>
    </table>
    <div class="clearfix set-btn-group text-right">
        <a href="/resma/cart/remove" class="btn-xs btn-default">Clear Cart</a>
        <a href="/resma/cart/new-order/{{user._id}}" id="order-submit" class="order-submit btn btn-success">
            <span class="glyphicon glyphicon-send"></span> Order!
        </a>
    </div>
    {{else}}
    <h3 style="color: #cccccc;">No Items have been added yet</h3>
    {{/if}}
</div>