<!doctype html>
<html lang="en" ng-app="Resma">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/tables.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="stylesheet" href="/stylesheets/angular-material.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <script type="text/javascript" src="/javascripts/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular-route.js"></script>
    <link rel="stylesheet" href="/javascripts/angular-aria.js">
    <link rel="stylesheet" href="/javascripts/angular-animate.js">
    <script type="text/javascript" src="/javascripts/controllers/settingsControllers.js"></script>
</head>
<body>
{{>header}}

    {{{body}}}

{{>footer}}
<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/script.js"></script>
<script type="text/javascript" src="/javascripts/Resma.js"></script>
<script type="text/javascript" src="/javascripts/controllers/removeItem.js"></script>
<script src="/socket.io/socket.io.js"></script>

<script>
    var socket = io.connect('http://localhost:3000');
    socket.on('connect', function(data) {
        socket.emit('join', 'Hello World from client');
    });
    socket.on('broad', function(data) {
        $('#future').append(data + '</br>');
    });

    $('form').submit(function(e){
        e.preventDefault();
        var message = $('#chat_input').val();
        socket.emit('messages', message);
    });
</script>
</body>
</html>