<!doctype html>
<html lang="en" ng-app="Resma">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" width="">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/tables.css">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <script type="text/javascript" src="/javascripts/angular.min.js"></script>
    <script type="text/javascript" src="/javascripts/angular-route.js"></script>
    <script type="text/javascript" src="/javascripts/controllers/settingsControllers.js"></script>
</head>
<body>
{{>header}}

{{{body}}}

{{>footer}}
<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
<script type="text/javascript" src="/javascripts/script.js"></script>
<script type="text/javascript" src="/javascripts/Resma.js"></script>
<script type="text/javascript" src="/javascripts/controllers/removeItem.js"></script>
</body>
</html>