<div class="head-center">
    <h2 class="top-head">Please tell us what type of a user are you?</h2>
</div>

<div class="col-md-2 col-sm-2 col-xs-12"></div>
<div class="col-md-3 col-sm-3 col-xs-12">
    <a href="/managers/signup" class="right"><button class="vimp-btn">Manager</button></a>
</div>
<div class="col-md-2 col-sm-2 col-xs-12">or</div>
<div class="col-md-3 col-sm-3 col-xs-12">
    <a href="/waiters/signup" class="left"><button class="vimp-btn">Waiter</button></a>
</div>
<div class="col-md-2 col-sm-2 col-xs-12"></div>