.container{
    padding-top: 20px;
}

.margin-10{
    margin: 10px 0;
}

.list-heading{
    font-size: 18px;
}

.panel #online-orders{
    background: #96AF76;
}

.panel #onsite-orders{
    background: #6D91A9;
}

.panel{
    border: solid 1px #4a4a4a;
    border-radius: 5px;
}

.panel .panel-heading{
    background-color: #333333;
    border-bottom: none;
    color: #999;
}

.panel .panel-heading .glyphicon{
    font-size: 15px;
    /*margin-right: 5px;*/
    color: #cccccc;
}

.panel .panel-body{
    background: #444;
    padding: 15px 10px;
}

.panel-body .list-group-item{
    background-color: #555;
    border: solid 1px #4a4a4a;
    font-size: 12px;
    padding: 10px 5px 10px 5px;
    color: #ccc;
}

.panel-body .list-group-item:hover{
    background-color: #5d5d5d;
    color: #F79970;
}

.notif-info-big {
    text-align: center;
    width: auto;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 10px;
    padding-bottom: 0px;
    border-radius: 10px;
    color: #616161;
    background-color: #464646;
    font-size: 55px;
}
.menu-item{
    border-radius: 3px;
    background: #555;
    padding: 5px;
    margin-top: 10px;
}
.item-takeaway .panel-heading{
    background: transparent;
    margin-top: 20px;
    border-bottom: solid 1px #555;
    margin-bottom: 15px;
}
.item-takeaway .panel-heading h4{
    margin:0px;
    color: #cccccc;
}
.home-aside .panel-body{
    background: #555;
}

.order-alert{
    color: #f05a28;
    text-shadow: 0px 0px 10px #f05a28;
}

#orderModal{
    z-index: 9999;
}

.order-item{
    background: #696969;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}
.order-item lable{
    color: #cccccc;
}

#order-submit{
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
}

.item-num-display, .unitPrice, .total-display{
    pointer-events: none;
    display: inline-block;
    width: 60px;
    background: transparent;
    border:none;
    padding-left: 0px;
    font-size: 20px;
    color: #ccc;
}
.users-chat-group a span.users-list-pic{
    width: 40px;
    height: 40px;
    margin-top: 0px;
    padding-left: 10px;
    display: inline-block;
    background: #666;
    border-radius: 50%;
}
.online-dot{
    display: inline-block;
    margin-right: 10px;
    height: 10px;
    width: 10px;
    background: limegreen;
    border-radius: 50%;
}
.users-chat-group{
    vertical-align: middle;
}
.users-chat-group a span.glyphicon{
    font-size: 18px;
}
.users-chat-group a span{
    margin-top: 7px;
}
.new-order-indicator{
    color: #ff7040;
    text-shadow: 0px 0px 10px #ff794c;
}
#order-item-hidden{
    display: none;
    color: #ccc;
    background: #cccccc;
}
.pill-created, .pill-process, .pill-delivered, .pill-finished{
    display: inline-block;
    padding: 0px 8px;
    border-radius: 3px;
    color: #ffffff;
}
.pill-created{
    background: #F05A28;
}
.pill-process{
    background: cornflowerblue;
}
.pill-delivered{
    background: #bbbf21;
}
.pill-finished{
    background: limegreen;
}
.created{
    position: relative;
    top: 4px;
    margin-right: 5px;
    /*display: inline-block;*/
    /*height: 10px;*/
    /*width: 10px;*/
    /*border-radius: 50%;*/
    /*background: red;*/
    color: #f05a28;
    font-size: 16px;
}
.process{
    margin-right: 5px;
    position: relative;
    top: 4px;
    font-size: 16px;
    color: cornflowerblue;
}
.delivered{
    margin-right: 5px;
    position: relative;
    top: 4px;
    font-size: 16px;
    color: #bbbf21;
}
.finished{
    margin-right: 5px;
    position: relative;
    top: 4px;
    font-size: 16px;
    color: limegreen;
}
.list-group-item .text-muted{
    color: #ababab;
    font-size: 12px;
}
#orderModal .modal-dialog{
    position: relative;
}
.close-modal{
    display: block;
    color: #cccccc;
    top: -10px;
    right: -20px;
    position: absolute;
}
.close-modal button, .close-modal button:focus {
    background: none;
    border: none;
    outline: none;
}
.close-modal span{
    border-radius: 50%;
    font-size: 30px;
    opacity: 0.3;
}
.close-modal:hover{
    color: #cccccc;
}
.close-modal:hover span {
    font-size: 50px;
    opacity: 1;
    outline: none;
}
.chat-wrapper{
    width: 250px;
    position: absolute;
    right: 15px;
    background: #777;
    border-radius: 5px;
    padding: 0px 10px;
    z-index: -1;
    top: -35px;
}
.chat-wrapper #form{
    display: none;
}
.chat-wrapper input[type="text"]{
    float: left;
    width: 80%;
    border-radius: 0;
}
.chat-wrapper input[type="submit"]{
    float: left;
    width: 20%;
    border-radius: 0;
}
.chat-wrapper #future{
    height: 0px;
    background: #fff;
    margin-top: 10px;
    border-top-left-radius: 5px;
}
.chat-min{
    float: right;
    width: 30px;
    border-radius: 3px;
    border: none;
    color: #999;
    font-size: 14px;
    height: 25px;
    /* line-height: 5px; */
    font-weight: 500;
}
.chat-min span{
    display: block;
    font-weight: 500;
    height: 17px;
}
.order-cus{
    display: inline-block;
    width: 100px;
}
.process-btn, .deliver-btn{
    max-width: 200px;
}
.process-btn{
    display: block;
    font-weight: 300;
    font-size: 20px;
    margin: 0 auto;
    padding: 7px;
    background: #F05A28;
    color: white;
    /*border: solid 2px #F79970;*/
    border-radius: 5px;
    background: linear-gradient(#205e7d,#337ab7);
    border: solid 1px #225f7d;
}

.deliver-btn{
    display: block;
    font-weight: 300;
    font-size: 20px;
    margin: 0 auto;
    padding: 7px;
    background: #f0ad4e;
    color: white;
    /*border: solid 2px #F79970;*/
    border-radius: 5px;
    background: linear-gradient(#908c05,#d1d434);
    border: solid 1px #716e16;
}
.finished-btn{
    display: block;
    font-weight: 300;
    font-size: 20px;
    margin: 0 auto;
    padding: 7px;
    background: #f0ad4e;
    color: white;
    /*border: solid 2px #F79970;*/
    border-radius: 5px;
    background: linear-gradient(#147915,#29a72b);
    border: solid 1px #2c6f2d;
}
.process-btn:hover, .deliver-btn:hover{
    color: #ffffff;
}
.offer-wrapper{
    margin: 20px 10px;
    padding: 3px;
    border-radius: 10px;
    border: solid 9px #8a6d3b;
}
.offer-wrapper img{
    width: 100%;
}
.item-footer{
    text-align: center;
    padding: 10px 0;
    border-top: solid 1px #777;
    margin-top: 10px;
}
.item-footer button{
    background: transparent;
}
.item-footer button:hover{
    background: #8a6d3b;
    color: #ffffff;
}
.item-footer button span:first-child{
    margin-right: 10px;
}
.cart-table{
    width: 100%;
}
.cart-table tr{
    border-bottom: solid 1px #999;
    background-color: #696969;
}
.cart-table tr td{
    width: 20%;
}
.cart-table tr td img{
    margin: 10px 0;
    width: 70px;
    height: 70px;
    border: solid 2px #999;
}
.bottom-row{
    width: 100%;
}
.bottom-row tr td{
    width: 50%!important;
}
.bottom-row td h3{
    color: #cccccc;
}
#cartModal .modal-content ul{
    padding-left: 0px;
}
.bottom-row{
    margin-top: 20px;
}
.add-to-cart{
    color: #bbbbbb;
    display: block;
}
.add-to-cart:hover{
    color: #f0ad4e;
}
.add-to-cart span:first-child{
    margin-right: 10px;
    color: #F05A28;
}
.user-message{
    position: absolute;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: -5px 2px 10px #101010;
    background: #999;
    z-index: 1000;
    right: 10px;
    top: -90px;
    opacity: 0.9;
}
.user-message span{
    color: #000;
}
.on-site, .on-line{
    color: #cccccc;
    font-size: 16px;
    position: relative;
    top: 4px;
    margin-right: 5px;
}
.cart-icon{
    font-size: 19px;
    padding-right: 20px;
    border-right: solid 1px #777;
}
.order-details-table tr td:first-child{
    border-bottom: dashed 1px #999;
}
.order-details-table tr td:last-child{
    padding-top: 10px;
}
.item-info{
    text-align: center;
}
.item-info .item-name{
    color: #f0ad4e;
}
.item-image img{
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 0 auto;
}
.item-hr{
    border-top: 1px solid #777;
    margin: 5px 0;
}
.user-acc-pic{
    margin: 0 auto;
    margin-top: 20px;
}
.cart-count{
    display: inline-block;
    font-size: 12px;
    width: 20px;
    text-align: center;
    height: 20px;
    background: #f05a28;
    color: #fff;
    padding-top: 2px;
    position: absolute;
    top: -10px;
    right: 7px;
    border-radius: 50%;
}
.order-section{
    padding-top: 15px;
}
.items-wrap{
    padding: 10px;
    border-radius: 10px;
    background-color: #5a5a5a;
}
.active

@media print
{
    .print-invoice, .print-cancel
    {
        display: none !important;
    }
}