.tables-wrapper, .tables-settings-wrapper{
	width: 510px;
	height: auto;
	padding: 20px;
	margin: 0 auto;
	margin-top: 30px;
	border: 2px solid #585858;
	background-color: rgba(95, 95, 95, 0.41);
	border-radius: 20px;
}

#sortable{
	position: relative;
	display: block;
	padding:0px;
	float: none;
	margin:0 auto;
}

.table-holder{
	position: relative;
	/*background: #505050;*/
	list-style: none;
	float: left;
	padding: 10px;
}

.table-holder a{
	display: block;
	margin:0 auto;
}

.table-holder a img{
	opacity: 0.3;
}

.table-empty{
	list-style: none;
	float: left;
	width: 92px;
	height: 92px;
	background: transparent;
	border:none;
}

.number{
    pointer-events: none;
	position: absolute;
	font-family: Arial;
	font-size: 15px;
	margin:1.8em;
	font-weight: bold;
	color: white;
	text-align: center;
	opacity: 0.5;
}

#clear{
	clear: both;
}

.table-settings .set-btn-group>div{
    margin-bottom: 10px;
}
.table-waiter{
	display: block;
	position: absolute;
	z-index: 1;
	width: 43px;
	height: 43px;
	top: 0;
	right: 0;
	border-radius: 50%;
	border: solid 2px #777;
	-webkit-box-shadow: 3px 4px 10px #505050;
	-moz-box-shadow: 3px 4px 10px #505050;
	box-shadow: 3px 4px 10px #505050;
}
.user-pic-header{
	display: block;
	width: 37px;
	height: 37px;
	margin-top: 5px;
	border-radius: 50%;
	border: solid 2px #777;
}
.user-pic-header img{
	width: 37px;
	height: 33px;
}
.table-waiter img, .user-pic-header img{
	border-radius: 50%;
}
.table-label{
	display: block;
	position: absolute;
	padding: 0px 6px 1px 9px;
	border-radius: 3px;
	top: 7px;
	left: 35px;
	z-index: -1;
	font-size: 12px;
	background: #777;
	max-width: none;
	-webkit-box-shadow: 3px 4px 10px #505050;
	-moz-box-shadow: 3px 4px 10px #505050;
	box-shadow: 3px 4px 10px #505050;

}

@media screen and (max-width: 690px) {
	.tables-wrapper{
		width: 440px;
	}
}

@media screen and (max-width: 500px) {
	.tables-wrapper{
		width: 247px;
		padding:10px;
	}

	#sortable{
		padding:0px;
	}

	.table-holder{
		width: 72px;
		list-style: none;
		float: left;
		border:1px solid #555555;
		padding:5px;
	}

	.table-empty{
		list-style: none;
		float: left;
		width: 72px;
		height: 65px;
		border:1px solid #555555;
	}

	.table-holder a img{
		float: left;
		width: 53px;
	}

	.number{
		position: relative;
		font-family: Arial;
		font-size: 12px;
		font-weight: bold;
		color: white;
		left: -30px;
		top: 15px;
		text-align: center;
	}
}