{{#if customer}}
    {{#if message}}
    <div class="user-message">
        <span>{{message}}</span>
    </div>
    {{/if}}
<div class="clearfix ">
    <section class="table-section col-md-9 col-sm-9 col-xs-12">
            <div class="col-md-6 col-sm-6">
                <div class="offer-wrapper">
                    <img src="/images/uploads/restaurant-menu-special-offer.jpg" class="img-responsive" alt=""/>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="offer-wrapper">
                    <img src="/images/uploads/shrimp-primavera-46.jpg" class="img-responsive" alt=""/>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="offer-wrapper">
                    <img src="/images/uploads/offer_may2013.jpg" class="img-responsive" alt=""/>
                </div>
            </div>

    </section>

    <section class="order-section col-md-3 col-sm-3 col-xs-12">
        <div class="home-aside col-md-12 col-sm-12 col-xs-12 clearfix">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-cutlery"></span><span class="list-heading"> - TODAYS SPECIAL</span>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <img src="/images/uploads/db45496b09eaa74857154027fc2a9aba" alt="" style="width: 50px;height: 50px;" class="img-circle"/>
                            <span class="pull-right text-muted small"><em>10.00</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <img src="/images/uploads/fe06a488e7df10153b2240246c57824a" alt="" style="width: 50px;height: 50px;" class="img-circle"/>
                            <span class="pull-right text-muted small"><em>10.00</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <img src="/images/uploads/noimage.jpg" alt="" style="width: 50px;height: 50px;" class="img-circle"/>
                            <span class="pull-right text-muted small"><em>10.00</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <img src="/images/uploads/noimage.jpg" alt="" style="width: 50px;height: 50px;" class="img-circle"/>
                            <span class="pull-right text-muted small"><em>10.00</em>
                            </span>
                        </a>
                    </div>
                </div>

            </div>
        </div>

        <div class="home-aside col-md-12 col-sm-12 col-xs-12 clearfix">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-heart"></span><span class="list-heading">  My Favourites</span>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body users-chat-group">
                    
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <img src="/images/uploads/noimage.jpg" alt="" style="width: 50px;height: 50px;" class="img-circle"/>
                            <span class="pull-right text-muted small"><em>10.00</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <img src="/images/uploads/noimage.jpg" alt="" style="width: 50px;height: 50px;" class="img-circle"/>
                            <span class="pull-right text-muted small"><em>10.00</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <img src="/images/uploads/noimage.jpg" alt="" style="width: 50px;height: 50px;" class="img-circle"/>
                            <span class="pull-right text-muted small"><em>10.00</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <img src="/images/uploads/noimage.jpg" alt="" style="width: 50px;height: 50px;" class="img-circle"/>
                            <span class="pull-right text-muted small"><em>10.00</em>
                            </span>
                        </a>
                    </div>

                    <!--<a href="#" class="imp-btn btn">MORE</a>-->
                </div>
                <!-- /.panel-body -->
            </div>
        </div>

    </section>

</div>
{{else}}
<div class="clearfix ">
    <section class="table-section col-md-6 col-sm-12 col-xs-12">
        <div class="col-md-6 col-xs-12">
            <div class="tables-wrapper clearfix" id="tables-wrapper-public">
                <ul id="sortable" data-id="sortable"></ul>
                <div id="clear"></div>
            </div>
            <!--&lt;!&ndash;TABLE POPUP======================================================================================&ndash;&gt;-->
            <!--<div class="popup-wrap">-->
            <!--<ul>-->
            <!--<li><h2>Table #</h2></li>-->
            <!--<li>Status <span class="state red">ACTIVATED</span><span class="state-time">8.00am</span></li>-->
            <!--<li>-->
            <!--Current Order </br>-->
            <!--<div class="pop-current-wrap">-->
            <!--<span class="pop-current">Order #13</span><span class="pop-curr-time">7.00am - 7.15am</span>-->
            <!--</div>-->
            <!--</li>-->
            <!--<li>-->
            <!--Waiter </br>-->
            <!--<div class="waiter-wrap">-->
            <!--<img class="img-circle" class="waiter-pic" src="" alt=""> <span class="wiater-fname">Fname</span>-->
            <!--</div>-->
            <!--</li>-->
            <!--<li class="no-border">-->
            <!--Orders so far..-->
            <!--<div class="pop-current-wrap">-->
            <!--<span class="pop-current">Order #13</span><span class="pop-curr-time">7.00am - 7.15am</span>-->
            <!--<span class="pop-current">Order #13</span><span class="pop-curr-time">7.00am - 7.15am</span>-->
            <!--<span class="pop-current">Order #13</span><span class="pop-curr-time">7.00am - 7.15am</span>-->
            <!--</div>-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--&lt;!&ndash;TABLE POPUP END======================================================================================&ndash;&gt;-->

        </div>
    </section>

    <section class="order-section col-md-6 col-sm-12 col-xs-12">
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="notif-info-big">
                <span class="glyphicon glyphicon-cutlery"></span> <span class="big-notif-num">{{orderCountOnsite}}</span>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="notif-info-big">
                <span class="glyphicon glyphicon-phone"></span> <span class="big-notif-num">{{orderCountOnline}}</span>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-4">
            <div class="notif-info-big">
                <span class="glyphicon glyphicon-check"></span> <span class="big-notif-num">{{orderCountDelivered}}</span>
            </div>
        </div>
        <div class="home-aside col-md-7 col-sm-12 col-xs-12 clearfix">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-cutlery"></span><span class="list-heading"> - Orders</span>
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" style="border: none;background: transparent;">
                                <a href="/resma/home"><span class="glyphicon glyphicon-refresh"></span></a>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                        {{#each orders}}
                        <a href="/resma/orders/details/{{_id}}" class="list-group-item" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#myModal">
                            {{#ifCond order_state 'created'}}
                            <span class="glyphicon glyphicon-plus-sign {{order_state}}"></span>
                            {{/ifCond}}
                            {{#ifCond order_state 'process'}}
                            <span class="glyphicon glyphicon-remove-sign {{order_state}}"></span>
                            {{/ifCond}}
                            {{#ifCond order_state 'delivered'}}
                            <span class="glyphicon glyphicon-minus-sign {{order_state}}"></span>
                            {{/ifCond}}
                            {{#ifCond order_state 'finished'}}
                            <span class="glyphicon glyphicon-ok-sign {{order_state}}"></span>
                            {{/ifCond}}
                            {{#ifCond order_type 'on-site'}}
                            <span class="glyphicon glyphicon-cutlery on-site"></span>
                            {{/ifCond}}
                            {{#ifCond order_type 'on-line'}}
                            <span class="glyphicon glyphicon-phone on-line"></span>
                            {{/ifCond}}
                            <span class="order-cus">{{customer_name}}</span>
                            <span>{{waiter_name}}</span>
                            <span class="pull-right text-muted small"><em>{{order_time}}</em>
                            </span>
                        </a>
                        {{/each}}
                    </div>

                    <!--<a href="#" class="imp-btn btn">MORE</a>-->
                </div>

                <div id="myModal" class="modal fade" role="dialog">
                    <div class="modal-dialog">

                        <!--Form with editable content is loaded with ajax-->
                        <div class="modal-content"></div>


                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
        </div>

        <div class="home-aside col-md-5 col-sm-12 col-xs-12 clearfix">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-user"></span><span class="list-heading">  Staff</span>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body users-chat-group">
                    <div class="list-group">
                        <a href="#" class="list-group-item">
                            <span class="online-dot"></span><span class="users-list-pic"><span class="glyphicon glyphicon-user"></span></span> <span>Fname</span>
                            <span class="pull-right text-muted small"><em>{{order_time}}</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <span class="online-dot"></span><span class="users-list-pic"><span class="glyphicon glyphicon-user"></span></span> <span>Fname</span>
                            <span class="pull-right text-muted small"><em>{{order_time}}</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <span class="online-dot"></span><span class="users-list-pic"><span class="glyphicon glyphicon-user"></span></span> <span>Fname</span>
                            <span class="pull-right text-muted small"><em>{{order_time}}</em>
                            </span>
                        </a>
                        <a href="#" class="list-group-item">
                            <span class="online-dot"></span><span class="users-list-pic"><span class="glyphicon glyphicon-user"></span></span> <span>Fname</span>
                            <span class="pull-right text-muted small"><em>{{order_time}}</em>
                            </span>
                        </a>

                    </div>

                    <!--<a href="#" class="imp-btn btn">MORE</a>-->
                </div>
                <!-- /.panel-body -->
            </div>
        </div>

    </section>

</div>

<div class="order-btn-group clearfix">
    <div class="chat-wrapper">
        <div class="clearfix">
            <button class="chat-min"><span id="chat-min-ico" class="glyphicon glyphicon-minus"></span></button>
        </div>
        <div id="future"></div>
        <form id="form" id="chat_form">
            <input id="chat_input" type="text">
            <input type="submit">
        </form>
    </div>
    <a href="/resma/orders/new-order-init" class="new-order btn" data-toggle="modal" data-backdrop="static" data-keyboard="false" data-target="#orderModal">+</a>
</div>

<div id="orderModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!--New order content is loaded with ajax-->
        <div class="modal-content"></div>

    </div>
</div>
{{/if}}



